@model IEnumerable<SMIS.Models.topicstat>

<table>
                    @foreach (var item in Model)
                    {
                        if (item.value == 0)
                        {
                            <tr>
                                <div class="budget-price">
                                    <div class="budget-price-square bg-danger" data-width="@item.value%"></div>
                                    <div class="budget-price-label">@item.value % </div>
                                    <a href="@Url.Action("Edit", "topicstats" , new {id = item.Id})"> <i class="fas fa-edit btn btn-icon btn-outline-primary"></i> </a>
                                    <a href="@Url.Action("Delete", "topicstats" , new {id = item.Id})"> <i class="fas fa-trash btn btn-icon btn-outline-danger"></i> </a>
                                </div>
                            </tr>
                            }
                            else if (item.value == 25)
                            {

            <tr >
                <div class="budget-price">
                    <div class="budget-price-square bg-danger" data-width="@item.value%"></div>
                    <div class="budget-price-label">@item.value % </div>
                    <a href="@Url.Action("Edit", "topicstats" , new {id = item.Id})"> <i class="fas fa-edit btn btn-icon btn-outline-primary"></i> </a>
                    <a href="@Url.Action("Delete", "topicstats" , new {id = item.Id})"> <i class="fas fa-trash btn btn-icon btn-outline-danger"></i> </a>
                </div>
            </tr>
                            }
                            else if (item.value == 50)
                            {

            <tr >
                
                <div class="budget-price">
                    <div class="budget-price-square bg-warning" data-width="@item.value%"></div>
                    <div class="budget-price-label">@item.value % </div>
                    <a href="@Url.Action("Edit", "topicstats" , new {id = item.Id})"> <i class="fas fa-edit btn btn-icon btn-outline-primary"></i> </a>
                    <a href="@Url.Action("Delete", "topicstats" , new {id = item.Id})"> <i class="fas fa-trash btn btn-icon btn-outline-danger"></i> </a>
                </div>
            </tr>
                            }
                            else if (item.value == 75)
                            {

                                <tr >
                                    
                                    <div class="budget-price">
                                        <div class="budget-price-square bg-success" data-width="@item.value%"></div>
                                        <div class="budget-price-label">@item.value % </div>
                                        <a href="@Url.Action("Edit", "topicstats" , new {id = item.Id})"> <i class="fas fa-edit btn btn-icon btn-outline-primary"></i> </a>
                                        <a href="@Url.Action("Delete", "topicstats" , new {id = item.Id})"> <i class="fas fa-trash btn btn-icon btn-outline-danger"></i> </a>
                                    </div>

                                  
                                </tr>
                            }
                            else if (item.value == 100)
                            {

            <tr>
               
                <div class="budget-price">
                    <div class="budget-price-square bg-success" data-width="@item.value%"></div>
                    <div class="budget-price-label">@item.value % </div>
                    <a href="@Url.Action("Edit", "topicstats" , new {id = item.Id})"> <i class="fas fa-edit btn btn-icon btn-outline-primary"></i> </a>
                    <a href="@Url.Action("Delete", "topicstats" , new {id = item.Id})"> <i class="fas fa-trash btn btn-icon btn-outline-danger"></i> </a>
                </div>

               
            </tr>
                            }
                            else
                            {
            <tr>
                <div class="budget-price">
                    <div class="budget-price-square bg-success" data-width="@item.value%"></div>
                    <div class="budget-price-label">@item.value % </div>
                    <a href="@Url.Action("Edit", "topicstats" , new {id = item.Id})"> <i class="fas fa-edit btn btn-icon btn-outline-primary"></i> </a>
                    <a href="@Url.Action("Delete", "topicstats" , new {id = item.Id})"> <i class="fas fa-trash btn btn-icon btn-outline-danger"></i> </a>
                </div>

                
            </tr>
                            }
                        }

            </table>
    

