@using SMIS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>SMIS- AUTH</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/app.min.css">
    <link rel="stylesheet" href="~/Content/assets/bundles/bootstrap-social/bootstrap-social.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/assets/img/favicon.ico' />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>@ViewBag.Title.</h4>
                            </div>
                            <div class="card-body">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label for="email">
                                            @Html.LabelFor(m => m.Email)
                                        </label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        <div class="d-block">
                                            <label for="password" class="control-label">
                                                @Html.LabelFor(m => m.Password)
                                            </label>
                                            <div class="float-right">
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")

                                            </div>
                                        </div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 ">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block" tabindex="4" />

                                    </div>
                                }
                                <div class="text-center mt-4 mb-3">
                                    <div class="text-job text-muted">Login With Social</div>
                                </div>
                                <div class="row sm-gutters justify-content-center">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                                </div>
                                <div class="mt-5 text-muted text-center">
                                    Don't have an account?  @Html.ActionLink("Register", "Register")
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- General JS Scripts -->
    <script src="~/Content/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/Content/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/Content/assets/js/custom.js"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

