@model IEnumerable<SMIS.Models.StudentsTable>
@{
    Layout = "~/Views/Shared/_Emptybg.cshtml";
    var count = 1;
}

<div class="alert alert-light alert-dismissible show fade alert-has-icon">
    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>

    <div class="alert-body">
        <button class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <p>To view student marks,kindly click on the student to view student marks</p>
    </div>
</div>

<a href="@Url.Action("Create", "Marks")" class="btn btn-outline-primary mb-2" data-toggle="tooltip" data-placement="top"
   title="Assign Marks to student "> <i class="fas fa-plus"></i> Assign Marks </a>
<a href="@Url.Action("Create", "Students")" class="btn btn-outline-primary mb-2" data-toggle="tooltip" data-placement="top"
   title="Add student "> <i class="fas fa-plus"></i> Add Student </a>
<div class="card">
    <div class="card-header">
        <h4>
            <a href="@Url.Action("Index", "Class")">
                <i class="fas fa-chevron-left fa-3x"></i>
            </a>
        </h4>
    </div>
    <div class="card-body">
        <div id="accordion">
            @foreach (var item in Model)
            {
                <div class="accordion">
                    <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-@count"
                         aria-expanded="true">
                        <h4> @Html.DisplayFor(modelItem => item.Student_Name)</h4>
                    </div>
                    <div class="accordion-body collapse " id="panel-body-@count" data-parent="#accordion">

                        @if (count > 0)
                        {
                            Html.RenderAction("Student_marks", "Students", new { student_id = item.Student_id });

                        }


                    </div>
                </div>
                count++;
            }
        </div>
    </div>
</div>


@*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Student_id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Student_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Student_id })
    </td>*@