@model IEnumerable<SMIS.Models.StudentsTable>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassTable.Class_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term.term1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year.year1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassTable.Class_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term.term1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year.year1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Student_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Student_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Student_id })
        </td>
    </tr>
}

</table>
