
@using SMIS.Models.ViewModel
@model StudentMarks
@{
    ViewBag.Title = "Student Marks";
    Layout = "~/Views/Shared/_Emptybg.cshtml";

}
<table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col">subject</th>
                    <th scope="col">Marks</th>
                    <th scope="col">Term</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.stdntMarks)
                {
                    <tr>
                        <td>@item.SubjectTable.Name</td>
                        <td>@item.Marks</td>
                        <td>@item.Term.term1</td>
                        <td>@item.Status</td>
                        <td>
                            <a href="@Url.Action("Edit", "Marks", new { id = item.Marks_id })" class="dropdown-item has-icon btn-outline-primary"><i class="far fa-edit"></i>Edit</a>

                        </td>
                    </tr>
                }
                @if (Model.stdntMarks.Count() == 0)
                {

                    <button type="button" class="btn btn-outline-danger  mb-2 ml-2"> No marks Allocated</button>

                }
            </tbody>
        </table>
   

