@model IEnumerable<SMIS.Models.MidtermMarksTable>

@{
    ViewBag.Title = "studentMarks";
    Layout = "~/Views/Shared/_smisLayout.cshtml";

}
<div class="card">
    <div class="card-header">
        <h4>Students Management</h4>
    </div>
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <p>
                    <table class="table">
                        <tr class="">
                            
                            <td>
                                @Html.DisplayNameFor(model => model.SubjectTable.Name)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.Marks)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.Status)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.ClassTable.Class_Name)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.Term.term1)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.Year.year1)
                            </td>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectTable.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Marks)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClassTable.Class_Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Term.term1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Year.year1)
                                </td>

                            </tr>
                        }

                    </table>



                </p>
            </div>
            <img class="ml-3" src="~/Content/assets/img/image-64.png" alt="Generic placeholder image">
        </div>
    </div>
</div>


