@model SMIS.Models.SubTopicsTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_smisLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h4 class="text-black-50">@ViewBag.Title.</h4>
    </div>
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <p>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.SubTopic)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SubTopic)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Overview)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Overview)
                        </dd>

                        <dt>

                            @if (Model.IsComplete == true)
                            {
                                <button type="button" class="btn btn-outline-success">Complete</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-outline-warning">In Progress</button>
                            }

                        </dt>

                        <dt>
                            @Html.DisplayNameFor(model => model.ClassTable.Class_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ClassTable.Class_Name)
                        </dd>

                    </dl>
                    <div class="mt-5 text-muted text-center">
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.SubTopics_id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </p>
            </div>
            <img class="ml-3" src="~/Content/assets/img/image-64.png" alt="Generic placeholder image">
        </div>
    </div>
</div>



