@model SMIS.Models.SubTopicsTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubTopicsTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTable.Class_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTable.Class_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicsTable.Topic_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicsTable.Topic_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term.term1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term.term1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year.year1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year.year1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubTopics_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
