
@using SMIS.Models.ViewModel
@model  Overal_Dashboard

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_smisLayout.cshtml";
}
<section class="section">
    <div class="row ">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Classess</h5>
                                    <h2 class="mb-3 font-18">
                                        @{
                                            var result1 = Model.classes.Count();
                                            if (result1 > 0)
                                            {
                                                @result1;
                                            }
                                            else
                                            {
                                                <button class="btn btn-danger">No Data </button>
                                            }
                                        }
                                    </h2>
                                    <a href="@Url.Action("Index", "Class") " class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top"
                                       title="Manage sysllabus ">Manage </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="~/Content/assets/img/banner/6.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Students</h5>
                                    <h2 class="mb-3 font-18">
                                        @{
                                            var result = Model.students.Count();
                                            if (result > 0)
                                            {
                                                @result;
                                            }
                                            else
                                            {
                                                <button class="btn btn-danger">No Data </button>
                                            }
                                        }
                                    </h2>
                                    <a href="@Url.Action("Index", "Students")" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top"
                                       title="Manage students ">Manage </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="~/Content/assets/img/banner/8.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Subjects</h5>
                                    <h2 class="mb-3 font-18">
                                        @{
                                            var res = Model.subjects.Count();
                                            if (res > 0)
                                            {
                                                @res;
                                            }
                                            else
                                            {
                                                <button class="btn btn-danger">No Data </button>
                                            }
                                        }
                                    </h2>

                                    <a href="@Url.Action("Index", "Subject") " class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top"
                                       title="Manage subjects ">Manage </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="~/Content/assets/img/banner/7.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Teachers</h5>
                                    <h2 class="mb-3 font-18">
                                        @{
                                            var result_teachers = Model.Teachers.Count();
                                            if (result_teachers > 0)
                                            {
                                                @result_teachers;
                                            }
                                            else
                                            {
                                                <button class="btn btn-danger">No Data </button>
                                            }
                                        }
                                    </h2>
                                    <a href="@Url.Action("Index", "Teachers") " class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top"
                                       title="Manage sysllabus ">Manage </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="~/Content/assets/img/banner/6.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>CLASS MANAGEMENT</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>

                                    <th>Class</th>
                                    <th>Action</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.classes)
                                {
                                    <tr>

                                        <td>
                                            @item.Class_Name
                                        </td>
                                        <td>
                                            <a href="@Url.Action("classSubjects", "subject_class", new { id = item.Class_id }) " class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top"
                                               title="View Class subjects">subjects</a>

                                        </td>
                                        <td>
                                            <a href="@Url.Action("studentsPerclass", "Class", new { id = item.Class_id })" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top"
                                               title="View students in class"> Students</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Class", new { id = item.Class_id })" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top"
                                               title="Edit class data">  Edit</a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
  
</section>