@model SMIS.Models.subject_class

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_smisLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4>Class subject Manger</h4>
    </div>
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>subject_class</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject_id, "Subject_id", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Subject_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Subject_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Class_id, "Class_id", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Class_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Class_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a href="@Url.Action("Index", "subject_class")" class=" btn btn-outline-primary">
                                        Cancel
                                    </a>
                                    <input type="submit" value="Save" class="btn btn-primary" />

                                </div>
                            </div>
                        </div>
                    }
                </p>
            </div>
            <img class="ml-3" src="~/Content/assets/img/image-64.png" alt="Generic placeholder image">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
