@using SMIS.Models.ViewModel
@model Detail_Dashboard
@{
    ViewBag.Title = "Detail_Dashboard";
    Layout = "~/Views/Shared/_smisLayout.cshtml";
    var count = 1;
}

<div class="alert alert-light alert-dismissible show fade alert-has-icon">
    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>

    <div class="alert-body">
        <button class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <ul>
            <li>
                <i class="fas fa-book-open fa-3x"></i> Subject:
                @if (TempData["subject"] != null)
                {

                    <button type="button" class="btn btn-outline-dark mb-2 ml-2">@TempData["subject"]</button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-dark mb-2 ml-2 ">PENDING</button>
                }
            </li>
            <p> this section contains-</p>
            <li>Statistics</li>
            <li>subject Videos</li>
            <li>progress stats and forms</li>
            <li>Allocated assignements or tests</li>

        </ul>

    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-12 col-xl-12">

        <div class="card ">
            <div class="card-header">
                <h4>CLASS STATISTICS </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9">
                        @{Html.RenderAction("Subject_stats", "Users");}
                        

                        <div class="row mb-0">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="list-inline text-center">
                                    <div class="list-inline-item p-r-30">
                                        <i data-feather="arrow-up-circle"
                                           class="col-green"></i>
                                        <h5 class="m-b-0">75-100%</h5>
                                        <p class="text-muted font-14 m-b-0">Topic Complete</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="list-inline text-center">
                                    <div class="list-inline-item p-r-30">
                                        <i data-feather="arrow-down-circle"
                                           class="col-orange"></i>
                                        <h5 class="m-b-0">50-74%</h5>
                                        <p class="text-muted font-14 m-b-0">Half way complete</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="list-inline text-center">
                                    <div class="list-inline-item p-r-30">
                                        <i data-feather="arrow-down-circle"
                                           class="col-red"></i>
                                        <h5 class="mb-0 m-b-0">0 - 25%</h5>
                                        <p class="text-muted font-14 m-b-0">No Progress</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row mt-5">
                            <div class="col-7 col-xl-7 mb-3">Number of topics</div>
                            <div class="col-5 col-xl-5 mb-3">
                                <i data-feather="arrow-up-circle"
                                   class="col-green"></i>
                                <span class="text-big">
                                    @{
                                        var result3 = Model.topicscount.Count();
                                        if (result3 > 0)
                                        {
                                            @result3;
                                        }
                                        else
                                        {
                                            <a class="btn btn-danger">No Data </a>
                                        }
                                    }
                                </span>
                            </div>

                            <div class="col-7 col-xl-7 mb-3">number of videos</div>
                            <div class="col-5 col-xl-5 mb-3">
                                <span class="text-big">
                                    @{
                                        var result1 = Model.videos.Count();
                                        if (result1 > 0)
                                        {
                                            @result1;
                                        }
                                        else
                                        {
                                            <p class="btn btn-danger">No Data </p> }
                                    }


                                </span>

                            </div>
                            <div class="col-7 col-xl-7 mb-3">number of assignments</div>
                            <div class="col-5 col-xl-5 mb-3">
                                <span class="text-big">
                                    <p class="btn btn-danger">No Data </p>

                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>SYLLABUS MANAGER</h4>
                        <a href="@Url.Action("Dashboard","Users")" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top"
                                       title="View Topic progress statistics ">Topic Statistics</a>
                    </div>
                    <div class="card-body">
                        <h5>
                            Topic progress radar
                        </h5>

                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="card-footer pt-3 d-flex justify-content-center ">
                                <div class="budget-price justify-content-center">
                                    <div class="budget-price-square bg-danger" data-width="20"></div>
                                    <div class="budget-price-label">0% Incomplete</div>
                                </div>
                                <div class="budget-price justify-content-center">
                                    <div class="budget-price-square bg-warning" data-width="20"></div>
                                    <div class="budget-price-label">50% complete</div>
                                </div>
                                <div class="budget-price justify-content-center">
                                    <div class="budget-price-square bg-success" data-width="20"></div>
                                    <div class="budget-price-label">10O% Complete</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="accordion">
                            @foreach (var item in Model.Weeks)
                            {

                                <div class="accordion">
                                    <div class="accordion-header" @*role="button"*@ data-toggle="collapse" data-target="#panel-body-@count">
                                        <h4>
                                            <i data-feather="command"></i> @item.Week_Name

                                        </h4>

                                    </div>
                                    <div class="accordion-body collapse" id="panel-body-@count" data-parent="#accordion">

                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-lg-12">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <ul class="nav nav-pills" id="myTab3" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="home-tab3_@count" data-toggle="tab" href="#home3_@count" role="tab"
                                                                   aria-controls="home" aria-selected="true">Learning Outcomes</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="profile-tab3_@count" data-toggle="tab" href="#profile3_@count" role="tab"
                                                                   aria-controls="profile" aria-selected="false">Teaching and Learning Materials</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="contact-tab3_@count" data-toggle="tab" href="#contact3_@count" role="tab"
                                                                   aria-controls="contact" aria-selected="false">Activity/Activities</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content" id="myTabContent2">
                                                            <div class="tab-pane fade show active" id="home3_@count" role="tabpanel" aria-labelledby="home-tab3_@count">
                                                                <div class="alert alert-light alert-dismissible show fade alert-has-icon">
                                                                    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>

                                                                    <div class="alert-body">
                                                                        <button class="close" data-dismiss="alert">
                                                                            <span>&times;</span>
                                                                        </button>

                                                                        In this tab Topics for the related week will show up here.

                                                                        also Managing topics for that week is done here
                                                                        <div>
                                                                            <a href="@Url.Action("Create", "Topics")" class="btn btn-icon btn-outline-primary"><i class="fas fa-plus"></i> <span>Add Topic</span></a>
                                                                            <a href="@Url.Action("Create", "SubTopics")" class="btn btn-icon btn-outline-primary"><i class="fas fa-plus"></i> <span>Add SubTopic</span></a>
                                                                            <span>
                                                                                <a href="@Url.Action("Progress_dash", "topicstats", new {weeksid = item.Week_id})" class="btn btn-outline-primary ">Topic Details</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                @{Html.RenderAction("subjecttopics", "Topics", new { weekid = item.Week_id });}

                                                            </div>
                                                            <div class="tab-pane fade" id="profile3_@count" role="tabpanel" aria-labelledby="profile-tab3_@count">
                                                                <div class="alert alert-light alert-dismissible show fade alert-has-icon">
                                                                    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>

                                                                    <div class="alert-body">
                                                                        <button class="close" data-dismiss="alert">
                                                                            <span>&times;</span>
                                                                        </button>
                                                                        To Ad videos to the learning materials, kindly make sure you include  a video in the topics section.
                                                                    </div>
                                                                </div>
                                                                @{Html.RenderAction("vidoes", "Topics", new { weekid = item.Week_id });}


                                                            </div>
                                                            <div class="tab-pane fade" id="contact3_@count" role="tabpanel" aria-labelledby="contact-tab3_@count">
                                                                <div class="alert alert-light alert-dismissible show fade alert-has-icon">
                                                                    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>

                                                                    <div class="alert-body">
                                                                        <button class="close" data-dismiss="alert">
                                                                            <span>&times;</span>
                                                                        </button>
                                                                        To assign coursework this week, click the Add an activity or resource link for add the relevant activity, such as an assignment, a quiz, or other activity. Otherwise, please delete.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                count++;
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
