@model IEnumerable<SMIS.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_smisLayout.cshtml";
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>USERS</h4>
                <div class="card-header-action">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped" id="sortable-table">
                        <thead>

                            <tr>
                               
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                               
                               
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="sort-handler">
                                            <i class="fas fa-th"></i>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                   
                                    <td>
                                        <div class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="btn btn-light   dropdown-toggle">
                                                <i class="fas fa-cog"></i>
                                            </a>

                                            <div class="dropdown-menu">


                                                <a href="@Url.Action("Details", "Users", new { id = item.Id })" class="dropdown-item has-icon"><i class="fas fa-eye"></i>View </a>
                                                @*<a href="@Url.Action("Edit", "Users", new { id = item.Id })" class="dropdown-item has-icon"><i class="far fa-edit"></i>Edit</a>*@
                                                <div class="dropdown-divider"></div>
                                                <a href="@Url.Action("Delete", "Users", new { id = item.Id})" class="dropdown-item has-icon text-danger">
                                                    <i class="far fa-trash-alt"></i>delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<td>
   

</td>