@model SMIS.Models.TopicsTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_smisLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TopicsTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTable.Class_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTable.Class_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term.term1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term.term1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year.year1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year.year1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeksTable.Week_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeksTable.Week_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Topic_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
